
    <form class="pure-form" id="oProcessingDate">
        <fieldset>
            <label>Show Records valid from :
                <input  type="text" name="oProcessingDate" />
            </label>
            <button type="submit" class="pure-button pure-button-primary">Filter</button>
        </fieldset>
    </form>    
    