{% extends "layout.html.twig" %}


{% block scriptExtras %}
<script>
    
    
    
    var PAGE = function(document,$) {
        
        /**
         * End points for the Points System API
         * 
         * @var string 
         */ 
        var ZONE_APIPATH = "{{ path_for('get_zone', {'odate': ''} ) }}";
    
        /**
         * End points for the Points System API
         * 
         * @var string 
         */ 
        var RULE_APIPATH = "{{ path_for('get_adjzone', {'odate': ''} ) }}";
    
    
        /**
         * The last used filter date
         * 
         * Default to the known as the current date (max date)
         * 
         * @var Date 
         */ 
        var oFilterDate = new Date(3000, 0, 1);
        
        /**
         * The last selected zone entity ID
         * 
         * @var string 
         */ 
        var sSelectedZone = 'no zone';
        
        /**
         * Options that are passed in an int function
         * 
         * 
         * @var object
         */ 
        var oWidgetOptions = {
          'zone': '#systemZoneGrid',
          'rule': '#adjRuleGrid'
            
            
        };
        
        
        // Event Handlers    
        
        /**
         * Fired on Page load this will setup
         * the data grids and forms on this page
         * 
         * @param object oOptions
         * @return void
         */ 
        var onInit = function(oOptions) {
            
            // bind the dom nodes
            oWidgetOptions.rule   = $(oWidgetOptions.rule);
            oWidgetOptions.zone   = $(oWidgetOptions.zone);
            
            // Setup the Datagrid
            oWidgetOptions.zone.jsGrid({
                height: "auto",
                width: "100%",
         
                sorting: false,
                paging: false,
                autoload: true,
                rowClick: onZoneSelected,
                noDataContent: "No Zones Found",
                controller: {
                    loadData: function() {
                        var d = $.Deferred();
         
                        $.ajax({
                            url: "http://points.icomefromthenet.com"+getPath(ZONE_APIPATH,{}),
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve(response);
                        });
         
                        return d.promise();
                    }
                
                    
                },
         
                fields: [
                    { title: "Episode ID", name: "iEpisodeID", type: "number", visible: false },
                    { title: "Zone Id", name: "sZoneID", type: "text" },
                    { title: "Name", name: "sZoneName", type: "text" },
                    { title: "Name Slug", name: "sZoneNameSlug", type: "text", visible: false },
                    { title: "System Id", name: "sSystemID", type: "text", visible: false },
                    { title: "System", name: "sSystemName", type: "text" },
                    { title: "Valid From", name: "oEnabledFrom", type: "text",  itemTemplate: function(value, item) { return $.format.date(new Date(value.date), 'yyyy-MM-dd');  } },
                    { title: "Valid To", name: "oEnabledTo", type: "text" ,     itemTemplate: function(value, item) { return $.format.date(new Date(value.date), 'yyyy-MM-dd');  } },
                ]
            });
            
            
            
            // Setup the Datagrid
            oWidgetOptions.rule.jsGrid({
                height: "auto",
                width: "100%",
                noDataContent: "No Adjustment Rules found for selected System Zone", 
                sorting: false,
                paging: false,
                autoload: false,
         
                controller: {
                    loadData: function() {
                        var d = $.Deferred();
         
                        $.ajax({
                            url: "http://points.icomefromthenet.com"+getPath(RULE_APIPATH, { "sZoneId": sSelectedZone }),
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve(response);
                        });
         
                        return d.promise();
                    }
                },
         
                fields: [
                    { title: "Episode ID", name: "iEpisodeID", type: "number", visible: false },
                    { title: "Rule Id", name: "sAdjustmentRuleID", type: "text" },
                    { title: "Zone Id", name: "sSystemZoneID", type: "text", visible: false },
                    { title: "Zone Name", name: "sSystemZoneName", type: "text", visible: false },
                    { title: "Rule Name", name: "sAdjustmentRuleName", type: "text" },
                    { title: "Valid From", name: "oEnabledFrom", type: "text",  itemTemplate: function(value, item) { return $.format.date(new Date(value.date), 'yyyy-MM-dd');  } },
                    { title: "Valid To", name: "oEnabledTo", type: "text" ,     itemTemplate: function(value, item) { return $.format.date(new Date(value.date), 'yyyy-MM-dd');  } },
                ]
            });
                   
        }
        
        
       
        
        /**
         * Refresh the lower grids with members 
         * who are active as of this date
         *  
         * @param Node     Input element bound with jQuery-ui date widget
         */ 
        var onDateFilterSubmit = function(oDate) {
         
            var sDate = $(oDate).datepicker( "getDate" );
            
            if(sDate === null) {
                return alert('Pick a date to filer on');
            }
          
            //refresh the grids below
            oFilterDate = sDate; 
            sSelectedZone = 'no zone';
            
            oWidgetOptions.zone.jsGrid('loadData');
            oWidgetOptions.rule.jsGrid('loadData');
            
        }
        
        
        var onZoneSelected = function(args) {
            // change the selected system
            sSelectedZone = args.item.sZoneID;
            
            // make the zone grid reload
            oWidgetOptions.rule.jsGrid('loadData');
                
        }; 
        
        // Utilities
        
        /**
         * Return the path with the date filter place holder
         * 
         * @return string              The full path to use in API calls
         * @param string  sApiPath     The API Endpoint
         * @param object  oOptions     Query String Options
         */ 
        var getPath = function(sApiPath,oOptions) {
               
            return rtrim(sApiPath,'/') + '/'+ $.format.date(oFilterDate, 'yyyyMMdd') + '?' + $.param(oOptions);
        }
        
        
        // Public API
        
        return {
            init: onInit,
            filter: onDateFilterSubmit
            
        }
        
    }(document,jQuery) 
    
</script>
{% endblock %}


{% block bodyContent %}

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Point Systems Zones</h1>
                    <p class="email-content-subtitle">
                        Segments a system into smaller units for filtering rules.</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    {% include "processing_dte.html.twig" %}
                </div>
            </div>

            <div class="email-content-body">
                <p>
                    I'm using character classes as the donations/raid Zones they happend to be mutually 
                    exclusive categories in this imaginary example. 
                </p>
                <div id="systemZoneGrid"></div>
               
                <h2>Adjustment Rules</h2>
                <p>
                  A zone is used to filter rules that will apply during a run. A rule can be grouped with one to many Zones.
                  <br />
                  If an adjustment rule has <strong>not</strong> been linked to any system zones then it will apply to <strong>all</strong> zones. 
                </p>
                
                <div id="adjRuleGrid"></div>
                
            </div>
        </div>
    </div>


{% endblock %}