{% extends "layout.html.twig" %}


{% block scriptExtras %}
<script>
    
    
    
    var PAGE = function(document,$) {
        
        /**
         * End points for the Adjustment Rule Groups API
         * 
         * @var string 
         */ 
        var ADJRULEGROUP_APIPATH = "{{ path_for('get_adj_group', {'odate': ''} ) }}";
    
        /**
         * End points for the Adj Group Limit API
         * 
         * @var string 
         */ 
        var RULEGROUPLIMIT_APIPATH = "{{ path_for('get_adjgrouplimit', {'odate': ''} ) }}";
        
        /**
         * End points for the Rule Chain Member  API
         * 
         * @var string 
         */ 
        var CHAINMEMBER_APIPATH = "{{ path_for('get_chainmember', {'odate': ''} ) }}";
    
    
        /**
         * The last used filter date
         * 
         * Default to the known as the current date (max date)
         * 
         * @var Date 
         */ 
        var oFilterDate = new Date(3000, 0, 1);
        
        /**
         * The last selected adj rule group entity ID
         * 
         * @var string 
         */ 
        var sSelectedRuleGroup = 'no adjustment group';
        
        /**
         * Options that are passed in an int function
         * 
         * 
         * @var object
         */ 
        var oWidgetOptions = {
          'el'    : '#pointAdjRuleGroupGrid',
          'group' : '#pointScoreGroupGrid',
          'chain' : '#pointChainMemberGrid',
          'system' : '#pointSystemGrid',
            
            
        };
        
        
        // Event Handlers    
        
        /**
         * Fired on Page load this will setup
         * the data grids and forms on this page
         * 
         * @param object oOptions
         * @return void
         */ 
        var onInit = function(oOptions) {
            
            // bind the dom nodes
            oWidgetOptions.el   = $(oWidgetOptions.el);
            oWidgetOptions.group = $(oWidgetOptions.group);
            oWidgetOptions.system = $(oWidgetOptions.system);
            oWidgetOptions.chain = $(oWidgetOptions.chain);
            
            // Setup the Datagrid
            oWidgetOptions.el.jsGrid({
                height: "auto",
                width: "100%",
         
                sorting: false,
                paging: false,
                autoload: true,
                rowClick: onAdjGroupSelected,
                noDataContent: "No Adjustment Rule Groups Found",
                controller: {
                    loadData: function() {
                        var d = $.Deferred();
         
                        $.ajax({
                            url: "http://points.icomefromthenet.com"+getPath(ADJRULEGROUP_APIPATH,{}),
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve(response);
                        });
         
                        return d.promise();
                    }
                },
         
                fields: [
                   
                    { title: "Episode ID", name: "iEpisodeID", type: "number", visible: false },
                    { title: "id", name: "sAdjustmentGroupID", type: "text" },
                    { title: "Name", name: "sGroupName", type: "text" },
                    { title: "Name Slug", name: "sGroupNameSlug", type: "text", visible: false },
                    
                    { title: "Max Multiplier", name: "fMaxMultiplier", type: "text", visible: false },
                    { title: "Min Multiplier", name: "fMinMultiplier", type: "text", visible: false },
                    { title: "Max Modifier",   name: "fMaxModifier", type: "text", visible: false },
                    { title: "Min Modifier",   name: "fMinModifier", type: "text", visible: false },
                    
                    { title: "Max Count",      name: "iMaxCount",    type: "text", visible: false },
                    { title: "Order Method",   name: "iOrderMethod", type: "text", visible: false },
                    { title: "Is Mandatory",   name: "bIsMandatory", type: "text", visible: false },
                    
                    { title: "Valid From", name: "oEnabledFrom", type: "text",  itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                    { title: "Valid To", name: "oEnabledTo", type: "text" ,     itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } }
                    
                ]
            });
            
            
            
            // Setup the Datagrid
            oWidgetOptions.group.jsGrid({
                height: "auto",
                width: "100%",
                noDataContent: "No Score Groups Found", 
                sorting: false,
                paging: false,
                autoload: false,
         
                controller: {
                    loadData: function() {
                        var d = $.Deferred();
         
                        $.ajax({
                            url: "http://points.icomefromthenet.com"+getPath(RULEGROUPLIMIT_APIPATH, { "sAdjustmentGroupId": sSelectedRuleGroup, 'sKey' : 'GROUP' }),
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve(response);
                        });
         
                        return d.promise();
                    }
                },
         
                fields: [
                    { title: "Episode ID", name: "iEpisodeID", type: "number", visible: false },
                    { title: "Adjustment Group Id", name: "sAdjustmentGroupID", type: "text", visible: false },
                    { title: "Score Group Id", name: "sScoreGroupID", type: "text", visible: false },
                    { title: "Score Group Id", name: "sScoreGroupID", type: "text", visible: false },
                    { title: "System Id", name: "$sSystemID", type: "text", visible: false },
                    
                    { title: "Adjustment Group", name: "sAdjustmentGroupName", type: "text", visible: false  },
                    { title: "Score Group", name: "sScoreGroupName",      type: "text", visible: true },
                    { title: "Point System", name: "sPointSystemName",     type: "text", visible: false },
                    
                    { title: "Valid From", name: "oEnabledFrom", type: "text",  itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                    { title: "Valid To", name: "oEnabledTo", type: "text" ,     itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                ]
            });
            
             oWidgetOptions.system.jsGrid({
                height: "auto",
                width: "100%",
                noDataContent: "No Systems Found", 
                sorting: false,
                paging: false,
                autoload: false,
         
                controller: {
                    loadData: function() {
                        var d = $.Deferred();
         
                        $.ajax({
                            url: "http://points.icomefromthenet.com"+getPath(RULEGROUPLIMIT_APIPATH, { "sAdjustmentGroupId": sSelectedRuleGroup, 'sKey' : 'SYSTEM' }),
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve(response);
                        });
         
                        return d.promise();
                    }
                },
         
                fields: [
                    { title: "Episode ID", name: "iEpisodeID", type: "number", visible: false },
                    { title: "Adjustment Group Id", name: "sAdjustmentGroupID", type: "text", visible: false },
                    { title: "Score Group Id", name: "sScoreGroupID", type: "text", visible: false },
                    { title: "Score Group Id", name: "sScoreGroupID", type: "text", visible: false },
                    { title: "System Id", name: "$sSystemID", type: "text", visible: false },
                    
                    { title: "Adjustment Group", name: "sAdjustmentGroupName", type: "text", visible: false  },
                    { title: "Score Group", name: "sScoreGroupName",      type: "text", visible: false },
                    { title: "Point System", name: "sPointSystemName",     type: "text", visible: true },
                    
                    { title: "Valid From", name: "oEnabledFrom", type: "text",  itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                    { title: "Valid To", name: "oEnabledTo", type: "text" ,     itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                ]
            });
            
              oWidgetOptions.chain.jsGrid({
                height: "auto",
                width: "100%",
                noDataContent: "No Chain Members Found", 
                sorting: false,
                paging: false,
                autoload: false,
         
                controller: {
                    loadData: function() {
                        var d = $.Deferred();
         
                        $.ajax({
                            url: "http://points.icomefromthenet.com"+getPath(CHAINMEMBER_APIPATH, { "sAdjustmentGroupId": sSelectedRuleGroup }),
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve(response);
                        });
         
                        return d.promise();
                    }
                },
         
                fields: [
                    { title: "Episode ID",    name: "iEpisodeID",         type: "number", visible: false },
                    { title: "Id"           , name: "sRuleChainMemberID", type: "text", visible: true  },
                    { title: "Rule Chain Id", name: "sRuleChainID",       type: "text", visible: false },
                    { title: "Adj Group Id",  name: "sAdjustmentGroupID", type: "text", visible: false },
                    
                    { title: "Rule Chain", name: "sRuleChainName", type: "text" , visible: true },
                    { title: "Adj Group",  name: "sAdjustmentGroupName", type: "text", visible: true },
                    
                    { title: "Order Sequence", name: "iOrderSeq", type: "text", visible: true },
                    
                    { title: "Valid From", name: "oEnabledFrom", type: "text",  itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                    { title: "Valid To", name: "oEnabledTo", type: "text" ,     itemTemplate: function(value, item) { return moment(value.date, "YYYY-MM-DD").format('DD-MM-YYYY');  } },
                ]
            });
                   
        }
        
        
        
        /**
         * Refresh the lower grids with members 
         * who are active as of this date
         *  
         * @param Node     Input element bound with jQuery-ui date widget
         */ 
        var onDateFilterSubmit = function(oDate) {
         
            var sDate = $(oDate).datepicker( "getDate" );
            
            if(sDate === null) {
                return alert('Pick a date to filer on');
            }
          
            //refresh the grids below
            oFilterDate = sDate; 
            sSelectedRuleGroup = 'no adj rule group';
            
            oWidgetOptions.group.jsGrid('loadData');
            oWidgetOptions.chain.jsGrid('loadData');
            oWidgetOptions.el.jsGrid('loadData');
            oWidgetOptions.system.jsGrid('loadData');
        }
        
        
        var onAdjGroupSelected = function(args) {
            
            sSelectedRuleGroup = args.item.sAdjustmentGroupID;
            
            // reload dependent grids
            oWidgetOptions.group.jsGrid('loadData');
            oWidgetOptions.chain.jsGrid('loadData');
            oWidgetOptions.system.jsGrid('loadData');
                
        }; 
        
        // Utilities
        
        /**
         * Return the path with the date filter place holder
         * 
         * @return string              The full path to use in API calls
         * @param string  sApiPath     The API Endpoint
         * @param object  oOptions     Query String Options
         */ 
        var getPath = function(sApiPath,oOptions) {
               
            return rtrim(sApiPath,'/') + '/'+ moment(oFilterDate).format('YYYYMMDD') + '?' + $.param(oOptions);
        }
        
        
        // Public API
        
        return {
            init: onInit,
            filter: onDateFilterSubmit
            
        }
        
    }(document,jQuery) 
    
</script>
{% endblock %}


{% block bodyContent %}

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Adjustment Rule Groups</h1>
                    <p class="email-content-subtitle">
                        Used to Grow or Shrink a score</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    {% include "processing_dte.html.twig" %}
                </div>
            </div>

            <div class="email-content-body">
                <p>
                    
                </p>
                <div id="pointAdjRuleGroupGrid"></div>
               
                <h2>Score Groups</h2>
                <p>
            
                </p>
                <div id="pointScoreGroupGrid"></div>
                
                <h2>System Restrictions</h2>
                <p>
            
                </p>
                <div id="pointSystemGrid"></div>
                
                
                <h2>Chain Members</h2>
                <p>
            
                </p>
                <div id="pointChainMemberGrid"></div>
                
            </div>
        </div>
    </div>


{% endblock %}
